.dashboard-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    max-width: 80%;
    margin-inline: auto;
    margin-bottom: 5rem;
}

@media (max-width: 55em) {
    .dashboard-container {
        grid-template-columns: 1fr;
    }
}
