.result-container {
    max-width: 80%;
    margin-inline: auto;
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    gap: 5rem;
    margin-top: 1rem;
    margin-bottom: 5rem;
}

@media (max-width: 43.75em) {
    .result-container {
        grid-template-columns: 1fr;
    }
}

.result-outer {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
}

.result-box {
    border: 2px solid black;
    padding: 2rem;
    margin-bottom: 5rem;
    min-width: 80%;
    margin-inline: auto;
}

.result-creator {
    margin: 0;
    font-size: 3rem;
}

.result-message {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 500;
    /* color: rgb(95, 95, 95); */
}

@media (max-width: 48em) {
    .result-creator {
        font-size: 2rem;
    }

    .result-message {
        font-size: 1rem;
    }
}

@media (max-width: 23.4375em) {
    .result-creator {
        font-size: 1.5rem;
    }

    .result-message {
        font-size: 0.9rem;
    }
}

.result-moment {
    margin: 0;
    color: grey;
    font-size: 1rem;
    font-weight: 100;
}

.result-url {
    font-size: 1.3rem;
    cursor: pointer;
}

.result-url:hover {
    color: #ca79e4;
}

.result-setting {
    font-size: 1rem;
    display: inline;
    color: rgb(79, 79, 79);
    margin-right: 2rem;
}

@media (max-width: 48em) {
    .result-url {
        font-size: 1rem;
    }
}

@media (max-width: 26.5625em) {
    .result-url {
        font-size: 0.65rem;
    }

    .result-setting {
        font-size: 0.7rem;
    }
}
